name: "PyInstaller"

on:
  workflow_call:
    inputs: &inputs
      version:
        description: "Build Version"
        type: string
        required: true
      version-file:
        description: "Version File"
        type: string
        default: "src/*/_version.py"
      windows-file:
        description: "Windows Version File"
        type: string
        default: "assets/win-version.yaml"
      source-file:
        description: "Source File"
        type: string
        default: "src/app.py"
  workflow_dispatch:
    inputs: *inputs

jobs:
  build:
    name: "Build - ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          # https://github.com/actions/runner-images
          # https://github.com/actions/partner-runner-images
          - os: macos-latest
            name: macos-arm64
          - os: macos-15-intel
            name: macos-amd64
          - os: ubuntu-latest
            name: linux-amd64
          - os: ubuntu-24.04-arm
            name: linux-arm64
          - os: windows-latest
            name: windows-amd64
            extra-args: ${{ inputs.windows-file && '--version-file win-version.txt' || '' }}

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug"
        continue-on-error: true
        shell: bash
        run: |
          echo "version: ${{ inputs.version }}"
          echo "matrix.os: ${{ matrix.os }}"
          echo "matrix.name: ${{ matrix.name }}"
          echo "matrix.extra-args: ${{ matrix.extra-args }}"

      - name: "Install UV"
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: "Install Python 3.13"
        shell: bash
        run: |
          uv python install 3.13

      - name: "Install"
        shell: bash
        run: |
          uv sync --locked --all-extras --dev

      - name: "Update Version"
        uses: justalemon/VersionPatcher@master
        with:
          version: ${{ inputs.version }}
          initpy-files: ${{ inputs.version-file }}

      - name: "Debug Version"
        continue-on-error: true
        shell: bash
        run: |
          cat ${{ inputs.version-file }}

      - name: "Version"
        # Note: packaging is not available on macos-latest by default
        if: ${{ matrix.os == 'windows-latest' && inputs.windows-file }}
        id: version
        shell: python
        run: |
          import os
          from packaging.version import Version
          version = Version('${{ inputs.version }}')
          print(f"{version.base_version=}")
          pre_number = version.pre[1] if version.pre else 0
          print(f"{pre_number=}")
          with open(os.environ["GITHUB_OUTPUT"], "a") as f:
              f.write(f"base_version={version.base_version}\n")
              f.write(f"pre_number={pre_number}\n")

      - name: "Windows Version"
        if: ${{ matrix.os == 'windows-latest' && inputs.windows-file }}
        env:
          version: "${{ steps.version.outputs.base_version }}.${{ steps.version.outputs.pre_number }}"
        shell: bash
        run: |
          uvx toml-run win-version -- --version "${{ env.version }}"

      - name: "Debug Windows Version"
        if: ${{ matrix.os == 'windows-latest' && inputs.windows-file }}
        continue-on-error: true
        shell: bash
        run: |
          cat win-version.txt

      # BEGIN - Windows Installer

      - name: "Windows Installer - Build"
        if: ${{ matrix.os == 'windows-latest' }}
        shell: bash
        run: |
          uvx toml-run pyinstaller -- ${{ matrix.extra-args }}

      - name: "Windows Installer - Download PathMgr"
        if: ${{ matrix.os == 'windows-latest' }}
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1.12
        with:
          repository: "Bill-Stewart/PathMgr"
          fileName: "PathMgr-2.0.0.zip"
          out-file-path: "dist/PathMgr"
          tag: "v2.0.0"
          extract: true

      - name: "Windows Installer - Inno Setup"
        env:
          version: ${{ inputs.version }}
        shell: pwsh
        run: |
          echo "Building Version: $Env:version"
          iscc.exe "/DMyAppVersion=$Env:version" installer.iss

      - name: "Windows Installer - Debug Output"
        if: ${{ matrix.os == 'windows-latest' }}
        continue-on-error: true
        shell: bash
        run: |
          echo "::group::dist"
          ls -lAh dist/*
          echo "::endgroup::"
          echo "::group::out"
          ls -lAhR out
          echo "::endgroup::"

      - name: "Windows Installer - Upload Artifact"
        if: ${{ matrix.os == 'windows-latest' && github.event_name != 'release' }}
        uses: actions/upload-artifact@v5
        with:
          name: windows-installer
          path: out/*.exe

      - name: "Windows Installer - Upload Release"
        if: ${{ matrix.os == 'windows-latest' && github.event_name == 'release' }}
        uses: cssnr/upload-release-action@latest
        with:
          globs: out/*.exe

      - name: "Windows Installer - Cleanup"
        if: ${{ matrix.os == 'windows-latest' }}
        shell: bash
        run: |
          rm -rf dist out

      # END - Windows Installer

      - name: "Build"
        shell: bash
        run: |
          uvx toml-run pyinstaller -- -F ${{ matrix.extra-args }}

      - name: "List Artifacts"
        continue-on-error: true
        working-directory: dist
        shell: bash
        run: |
          results="$(file -- *)"
          echo "::group::results"
          echo "${results}"
          echo "::endgroup::"
          md="Artifacts: \`${{ matrix.os }}\`\n\`\`\`text\n${results}\n\`\`\`"
          echo -e "${md}" >> "$GITHUB_STEP_SUMMARY"

      - name: "Upload to Actions"
        if: ${{ github.event_name != 'release' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.name }}
          path: dist

      - name: "Archive Release"
        if: ${{ github.event_name == 'release' }}
        uses: thedoctor0/zip-release@b57d897cb5d60cb78b51a507f63fa184cfe35554 # 0.7.6
        with:
          type: zip
          directory: dist
          filename: "${{ matrix.name }}.zip"

      - name: "Upload Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@latest
        with:
          globs: dist/*.zip
